@charset "UTF-8";
body {
  font-size: 15px;
  font-family: "Josefin Sans", "Hiragino Sans", sans-serif;
  letter-spacing: 0em;
  color: #111111;
  font-feature-settings: "palt";
}

img, svg {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

main {
  width: 100vw;
}

a {
  text-decoration: none;
}

.sp {
  display: block;
}

.pc {
  display: none;
}

.text-blue {
  color: #EB51C2;
}

.button {
  padding: 10px 20px;
  background-color: #EB51C2;
  border-radius: 50px;
  border: none;
  transition: opacity 0.3s;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
}
.button__link {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
}

.header {
  padding: 0 20px;
  height: 60px;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}
.header__logo {
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}
.header__logo_text-blue {
  color: #EB51C2;
}
.header__button {
  display: none;
  margin-right: 20px;
}

.active {
  background-color: #fff;
}

.active .header__button {
  display: block;
}

.mv {
  padding: 0 20px;
  position: relative;
}
.mv__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-image: url(../images/bg_mv.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  border-radius: 0 0 0 50px;
  display: none;
}
.mv__body {
  padding: 160px 0px 72px 0px;
}
.mv-title {
  text-align: left;
}
.mv-title > p {
  display: flex;
}
.mv-title__main {
  font-size: 42px;
  font-style: italic;
  background-color: #FFFFFF;
  display: inline-block;
}
.mv-title__sub {
  background-color: #FFFFFF;
  display: inline-block;
  margin-bottom: 18px;
}
.mv-title__sub-text {
  font-size: 13px;
  font-weight: bold;
}

.l_button {
  padding: 20px 40px;
}
.l_button > a {
  font-size: 13px;
}

/*==================================================
背景色が伸びて出現
===================================*/
/*全共通*/
.bgextend {
  -webkit-animation-name: bgextendAnimeBase;
          animation-name: bgextendAnimeBase;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: relative;
  overflow: hidden;
  /*　はみ出た色要素を隠す　*/
  opacity: 0;
}

@-webkit-keyframes bgextendAnimeBase {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bgextendAnimeBase {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*中の要素*/
.bgappear {
  -webkit-animation-name: bgextendAnimeSecond;
          animation-name: bgextendAnimeSecond;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes bgextendAnimeSecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bgextendAnimeSecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*左から右*/
.bgLRextend::before {
  -webkit-animation-name: bgLRextendAnime;
          animation-name: bgLRextendAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #EB51C2;
  /*伸びる背景色の設定*/
}

@-webkit-keyframes bgLRextendAnime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

@keyframes bgLRextendAnime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.bgappearTrigger,
.bgLRextendTrigger {
  opacity: 0;
}

.concept {
  padding: 0 20px;
}
.concept__body {
  text-align: center;
  transform: translateY(-20px);
}
.concept__main {
  font-size: 56px;
  font-weight: bold;
  font-style: italic;
  color: #EB51C2;
  letter-spacing: 0.01em;
}
.concept__sub {
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: bold;
}
.concept__text {
  font-size: 15px;
  line-height: 1.8;
}

.about-content {
  padding: 0 27px 40px 27px;
  opacity: 0;
}
.about-content__box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 39px 30px 72px 30px;
  transform: translateY(5px);
}
.about-content__box-title {
  font-size: 18px;
  color: #EB51C2;
  margin-bottom: 15px;
}
.about-content__box-title_food {
  color: #00B21B;
}
.about-content__box-copy {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 22px;
}
.about-content__box-text {
  font-size: 14px;
  line-height: 1.7;
}

.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(-20px);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(-20px);
  }
}
.center__button {
  padding: 20px 70px;
}
.center__button-wrapper {
  text-align: center;
  margin-bottom: 40px;
}

.trainer > p, .price > p {
  color: #FFFFFF;
}

.studio > .content-title__en, .faq > .content-title__en {
  color: #111111;
}
.studio > .content-title__jp, .faq > .content-title__jp {
  color: #EB51C2;
}

.content-title {
  margin-bottom: 30px;
}
.content-title__en {
  font-size: 40px;
}
.content-title__jp {
  font-size: 14px;
}

.trainer-content {
  background-color: #EB51C2;
  padding: 40px 20px;
}

.tab-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.tab-navigation__item {
  padding: 10px 0px;
  width: 100%;
  text-align: center;
}
.tab-navigation__item_checked {
  border-bottom: 1px solid #fff;
}
.tab-navigation__link {
  color: #FFFFFF;
  font-size: 16px;
}

.cards-wrapper {
  display: grid;
  gap: 15px;
}

.card {
  opacity: 0;
}
.card__img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.card__body {
  padding: 20px 20px 36px 20px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}
.card__text {
  line-height: 1.5;
}

.studio-box {
  padding: 40px 20px;
}

.swiper-wrap {
  position: relative;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -30px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}

.swiper-button-prev {
  left: -20px;
}

.swiper-button-next {
  right: -20px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 24px;
  color: #EB51C2;
  font-family: "Material Icons Round";
}

.swiper-button-prev:after {
  content: "navigate_before";
}

.swiper-button-next:after {
  content: "navigate_next";
}

.swiper-pagination-bullet-active {
  background: #EB51C2;
}

.price-box {
  background-color: #EB51C2;
  padding: 40px 0 40px 20px;
  position: relative;
}

.price-course {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
  overflow: scroll;
}

.price-list {
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 10px;
}

.box {
  padding: 30px 10px;
  text-align: center;
  line-height: 1;
  border-bottom: 1px solid #ccc;
}

.course-item__title {
  font-size: 18px;
  margin-bottom: 15px;
}
.course-item__details {
  font-size: 16px;
}

.price-item__title {
  font-size: 26px;
  color: #EB51C2;
  margin-bottom: 11px;
}
.price-item__price {
  font-size: 48px;
}
.price-item__entry {
  font-size: 16px;
}

.scroll-btn {
  background-color: rgba(0, 0, 0, 0.6);
  width: 80px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  padding: 10px 8px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  right: 10px;
}
.scroll-btn .material-icons-round {
  font-size: 50px;
}
.scroll-btn .scroll-btn__text {
  font-size: 12px;
}

.faq-box {
  padding: 40px 20px;
}

.accordion-box {
  padding: 16px 0;
  border-bottom: 1px solid #ccc;
  color: #EB51C2;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.accordion__title {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.accordion__title::after {
  content: "expand_more";
  font-size: 26px;
  font-family: "Material Icons Round";
  color: #EB51C2;
  position: absolute;
  top: 0;
  right: 0;
}
.accordion__title .active::after {
  content: "expand_less";
}
.accordion__icon {
  flex: 0 0 25px;
  font-size: 26px;
  font-weight: bold;
}
.accordion__btn {
  line-height: 1.7;
  width: 80%;
  padding: 0 10px;
  background-color: #fff;
  border: none;
  text-align: left;
  color: #111111;
  position: relative;
}
.accordion__body {
  opacity: 0;
  display: none;
}
.accordion__inner {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.accordion__text {
  color: #111111;
  line-height: 1.7;
  width: 80%;
  padding: 0 10px;
  background-color: #fff;
  text-align: left;
  font-size: 13px;
}

.slide {
  -webkit-animation-name: accordionSlide;
          animation-name: accordionSlide;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes accordionSlide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes accordionSlide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.sv-body {
  background-color: #EB51C2;
  padding: 30px 40px;
  text-align: center;
}
.sv-body .button {
  background-color: #fff;
}
.sv-body .button__link {
  color: #EB51C2;
}

.sv__text {
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 11px;
}

.footer {
  padding: 50px 140px;
  background-color: #000;
  text-align: center;
}
.footer__text {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.page-topBtn {
  display: none;
}

.page-top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 10;
  border-radius: 50%;
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.page-top__link {
  color: #EB51C2;
}

@media screen and (min-width: 1025px) {
  .mv {
    padding: 0 160px;
  }
  .mv-title__main {
    font-size: 90px;
  }
  .mv-title__sub-text {
    font-size: 28px;
  }
  .mv__button {
    padding: 30px 50px;
  }
  .mv__button > a {
    font-size: 20px;
  }

  .sp {
    display: none;
  }

  .concept {
    margin-bottom: 33px;
  }
  .concept__main {
    font-size: 108px;
  }
  .concept__sub {
    font-size: 32px;
  }
  .concept__text {
    font-size: 16px;
    text-align: center;
  }

  .training, .food {
    display: flex;
    position: relative;
  }

  .training {
    margin-bottom: 100px;
  }
  .training .about-content {
    position: absolute;
    right: 20px;
  }

  .food {
    flex-direction: row-reverse;
    margin-bottom: 80px;
  }
  .food .about-content {
    position: absolute;
    left: 20px;
  }

  .about-content {
    padding: 0;
    width: 555px;
  }
  .about-content__box {
    padding: 60px;
  }
  .about-content__box-title {
    font-size: 24px;
  }
  .about-content__box-copy {
    font-size: 32px;
  }
  .about-content__box-text {
    font-size: 16px;
  }
  .about__image {
    width: 66%;
  }

  @-webkit-keyframes fadeUpAnime {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(30px);
    }
  }

  @keyframes fadeUpAnime {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(30px);
    }
  }
  .center__button-wrapper {
    display: none;
  }

  .cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .card__body {
    padding: 20px;
  }

  .card__text {
    font-size: 15px;
  }

  .trainer-content {
    padding: 40px 30px;
  }

  .content-title__en {
    font-size: 64px;
  }

  .content-title__jp {
    font-size: 20px;
  }

  .studio-box {
    padding: 40px 30px;
  }

  .price-item__title {
    font-weight: bold;
  }

  .scroll-btn {
    display: none;
  }

  .faq-box {
    padding: 40px 30px;
  }

  .accordion__title, .accordion__inner {
    grid-template-columns: 0.1fr 9.9fr;
  }

  .sv__body {
    padding: 50/px;
  }
  .sv__body .button__link {
    font-size: 20px;
  }

  .sv__text {
    font-size: 64px;
  }

  .footer {
    padding: 100px;
  }
}
/*# sourceMappingURL=style.css.map */